Repository intel/intel-extension-for-transformers, pull requests merged in 2023-10, with the labels that each got.

#416 restrain langchain version
  examples/huggingface/pytorch/question-answering/dynamic/requirements.txt
  examples/huggingface/pytorch/question-answering/pruning/basic_magnitude/requirements.txt
  examples/huggingface/pytorch/question-answering/pruning/longformer_triviaqa/requirements.txt
  examples/huggingface/pytorch/summarization/quantization/requirements.txt
  examples/huggingface/pytorch/text-classification/cascade-models/requirements.txt
  examples/huggingface/pytorch/text-classification/new_pruning/requirements.txt
  examples/huggingface/pytorch/text-classification/orchestrate_optimizations/requirements.txt
  examples/huggingface/pytorch/text-classification/pruning/requirements.txt
  examples/huggingface/pytorch/text-classification/quantization/ptq/requirements.txt
  examples/huggingface/pytorch/text-classification/quantization/qat/requirements.txt
  examples/huggingface/pytorch/text-classification/quantization/requirements.txt
  examples/huggingface/pytorch/token-classification/quantization/requirements.txt
  examples/huggingface/pytorch/translation/quantization/requirements.txt
  intel_extension_for_transformers/neural_chat/examples/instruction_tuning/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
  intel_extension_for_transformers/neural_chat/requirements_pc.txt
  intel_extension_for_transformers/neural_chat/requirements_xpu.txt
  intel_extension_for_transformers/neural_chat/ui/textbot/requirements.txt
  requirements.txt
  workflows/hf_finetuning_and_inference_nlp/requirements.txt
Labels: bug

#427 fix chatbot docker build repo input
  .github/workflows/chatbot-finetune-mpt-7b-chat.yml
  .github/workflows/chatbot-inference-llama-2-7b-chat-hf.yml
  .github/workflows/chatbot-inference-mpt-7b-chat.yml
Labels: bug

#406 fixes to Neural Chat SparseBM25Retriever pipeline
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/indexing/indexing.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_bm25.py
Labels: bug

#435 [CPP Graph] ChatGLM2 MHA support
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.cpp
Labels: ITREX.cpp

#430 update post process with num_beams and do_sample
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/llm/runtime/graph/application/main_pybind.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_config.h
  intel_extension_for_transformers/llm/runtime/graph/scripts/python_api_example.py
Labels: ITREX.cpp

#414 [Cpp Graph] Update Falcon HF para and support Falcon-180B
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.h
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_falcon.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/run.py
Labels: ITREX.cpp, extension

#432 Enable Qwen-7B-Chat
  intel_extension_for_transformers/neural_chat/chatbot.py
  intel_extension_for_transformers/neural_chat/docs/notebooks/build_chatbot_on_spr.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_xpu.ipynb
  intel_extension_for_transformers/neural_chat/models/model_utils.py
  intel_extension_for_transformers/neural_chat/models/qwen_model.py
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_xpu.txt
Labels: ITREX-1.3-sprint1, NeuralChat

#453 [CPP Graph] MPT MHA support
  intel_extension_for_transformers/llm/runtime/graph/core/layers/mha_dense.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.c
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.h
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptj/gptj.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/llama/llama.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/mpt/mpt.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/mpt/mpt_utils.cpp
Labels: ITREX.cpp, ITREX-1.3-sprint1

#455 add neuralchat finetune notebook.
  intel_extension_for_transformers/neural_chat/docs/notebooks/finetune_neuralchat_v2_on_Nvidia_GPU.ipynb
Labels: documentation, ITREX-1.3-sprint1

#464 Update code-generation benchmark info
  examples/huggingface/pytorch/code-generation/quantization/run_generation.py
Labels: bug, ITREX-1.3-sprint1

#460 Upgrade qbits backend
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_avx2.h
  intel_extension_for_transformers/llm/operator/cscr/dispatcher/src/jblas_weightonly_dispatcher.cpp
Labels: bug, ITREX.cpp, windows

#456 GitHub Action Workflows speedup
  .github/workflows/cpp-graph-test.yml
  .github/workflows/script/models/cpp_graph_inference.sh
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.c
Labels: enhancement, ITREX.cpp, CI

#425 Add NeuralChat UT
  intel_extension_for_transformers/neural_chat/pipeline/plugins/audio/tts_chinese.py
  intel_extension_for_transformers/neural_chat/tests/api/test_model.py
  intel_extension_for_transformers/neural_chat/tests/audio/test_tts_chinese.py
  intel_extension_for_transformers/neural_chat/tests/requirements.txt
Labels: enhancement, ITREX-1.3-sprint1, NeuralChat

#445 Refine notebook and fix restful api issues
  intel_extension_for_transformers/neural_chat/docs/full_notebooks.md
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_habana_gaudi.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_icx.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_nv_a100.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_spr.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/deploy_chatbot_on_xpu.ipynb
  intel_extension_for_transformers/neural_chat/models/base_model.py
  intel_extension_for_transformers/neural_chat/models/neuralchat_model.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/caching/cache.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/caching/requirements.txt
  intel_extension_for_transformers/neural_chat/prompts/prompt.py
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
  intel_extension_for_transformers/neural_chat/requirements_pc.txt
  intel_extension_for_transformers/neural_chat/server/restful/textchat_api.py
  intel_extension_for_transformers/neural_chat/tests/requirements.txt
  intel_extension_for_transformers/neural_chat/ui/textbot/app.py
  intel_extension_for_transformers/neural_chat/ui/textbot/conversation.py
Labels: documentation, ITREX-1.3-sprint1

#424 gelu support
  intel_extension_for_transformers/llm/runtime/graph/core/layers/ip_fusion_ffn.cpp
Labels: ITREX.cpp, ITREX-1.3-sprint1

#449 [Cpp Graph] Beam Search Pybind (model archs: gptj and gptneox)
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/llm/runtime/graph/application/CMakeLists.txt
  intel_extension_for_transformers/llm/runtime/graph/application/main_pybind.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox.h
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_types.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.h
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_gptneox.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/python_api_example.py
Labels: ITREX.cpp, ready for merge

#476 fix post process with topk topp of python api
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/llm/runtime/graph/application/main_pybind.cpp
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_opt.py
  setup.py
Labels: ITREX.cpp, ready for merge

#436 Add NER plugin to neural chat
  intel_extension_for_transformers/neural_chat/chatbot.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/README.md
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/__init__.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/ner.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/ner_int.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/requirements.txt
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/utils/__init__.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/utils/process_text.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/utils/utils.py
  intel_extension_for_transformers/neural_chat/plugins.py
  intel_extension_for_transformers/neural_chat/prompts/prompt.py
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
  intel_extension_for_transformers/neural_chat/requirements_pc.txt
  intel_extension_for_transformers/neural_chat/requirements_xpu.txt
  intel_extension_for_transformers/neural_chat/server/config/neuralchat.yaml
  intel_extension_for_transformers/neural_chat/tests/api/test_model.py
  intel_extension_for_transformers/neural_chat/tests/ner/test_ner.py
  intel_extension_for_transformers/neural_chat/tests/requirements.txt
Labels: ITREX-1.3-sprint1, NeuralChat

#465 [CPP Graph] Opt qbits dequant
  intel_extension_for_transformers/llm/library/jblas/jblas/jit_blas_epilogue.h
  intel_extension_for_transformers/llm/library/jblas/jblas/jit_blas_prologue.h
  intel_extension_for_transformers/llm/library/jblas/jblas/jit_blas_utils.h
  intel_extension_for_transformers/llm/library/jblas/jblas/jit_blas_weight_compression.h
  intel_extension_for_transformers/llm/library/jblas/jblas/jit_blas_wrapper.h
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_avx2.h
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_avx512f.h
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_jit.h
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_ref.h
  intel_extension_for_transformers/llm/library/jblas/jblas/kernel_wrapper.h
  intel_extension_for_transformers/llm/operator/cscr/dispatcher/src/jblas_weightonly_dispatcher.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/layers/inner_product.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/layers/ip_fusion_ffn.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/layers/ip_fusion_qkv.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/layers/mha_dense.cpp
Labels: enhancement, ITREX.cpp

#499 reduce ut time consumption
  tests/requirements.txt
  tests/test_data_augmentation.py
  tests/test_evaluation.py
Labels: CI

#521 reduce unnecessary tests
  .github/workflows/chatbot-finetune-mpt-7b-chat.yml
  .github/workflows/chatbot-inference-llama-2-7b-chat-hf.yml
  .github/workflows/chatbot-inference-mpt-7b-chat.yml
  .github/workflows/chatbot-test.yml
  .github/workflows/deploy-test.yml
  .github/workflows/optimize-test.yml
  .github/workflows/script/chatbot/prepare_ft_mpt-7b-chat_mpi.sh
  .github/workflows/script/unitTest/run_unit_test_optimize.sh
  intel_extension_for_transformers/llm/runtime/graph/README.md
  intel_extension_for_transformers/utils/llm_carbon_calc.py
  intel_extension_for_transformers/utils/llm_carbon_calc_readme.md
Labels: enhancement, CI, ready for merge

#443 [CPP Graph] Fused Attention Doc
  .github/CODEOWNERS
  intel_extension_for_transformers/llm/runtime/graph/core/README.md
  intel_extension_for_transformers/llm/runtime/graph/fused_attention.md
Labels: documentation, ITREX.cpp, ITREX-1.3-sprint1

#489 Enable hpu again
  .github/workflows/chatbot-finetune-mpt-7b-chat-hpu.yml
  .github/workflows/chatbot-inference-llama-2-7b-chat-hf-hpu.yml
  .github/workflows/chatbot-inference-mpt-7b-chat-hpu.yml
  .github/workflows/chatbot-test.yml
  .github/workflows/script/chatbot/hpu_check/run_check.sh
  .github/workflows/unit-test-neuralchat.yml
  intel_extension_for_transformers/neural_chat/docker/Dockerfile
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
Labels: help wanted, CI

#361 support attention block TP and add gptj llama model
  intel_extension_for_transformers/llm/runtime/graph/core/parallel_context.cpp
  intel_extension_for_transformers/llm/runtime/graph/imgs/Attention.PNG
  intel_extension_for_transformers/llm/runtime/graph/imgs/FFN.PNG
  intel_extension_for_transformers/llm/runtime/graph/models/gptj/gptj.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/llama/llama.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_files.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/tensor_parallelism.md
Labels: ITREX.cpp, ITREX-1.3-sprint1

#514 [NeuralChat] Add askdoc retrieval api & example
  .github/workflows/chatbot-inference-llama-2-7b-chat-hf.yml
  .github/workflows/chatbot-inference-mpt-7b-chat.yml
  intel_extension_for_transformers/neural_chat/examples/askdoc/README.md
  intel_extension_for_transformers/neural_chat/examples/askdoc/askdoc.py
  intel_extension_for_transformers/neural_chat/examples/askdoc/askdoc.yaml
  intel_extension_for_transformers/neural_chat/examples/askdoc/docs/test_doc.txt
  intel_extension_for_transformers/neural_chat/examples/askdoc/run.sh
  intel_extension_for_transformers/neural_chat/models/base_model.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/prompt/prompt_template.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/detector/intent_detection.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/indexing/context_utils.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/indexing/indexing.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_agent.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_base.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_bm25.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_chroma.py
  intel_extension_for_transformers/neural_chat/prompts/prompt.py
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/server/restful/request.py
  intel_extension_for_transformers/neural_chat/server/restful/retrieval_api.py
  intel_extension_for_transformers/neural_chat/server/restful/textchat_api.py
  intel_extension_for_transformers/neural_chat/server/restful/voicechat_api.py
  intel_extension_for_transformers/neural_chat/tests/api/test_inference.py
  intel_extension_for_transformers/neural_chat/tests/api/test_rag.py
  intel_extension_for_transformers/neural_chat/tests/requirements.txt
  intel_extension_for_transformers/neural_chat/tests/server/askdoc.yaml
  intel_extension_for_transformers/neural_chat/tests/server/askdoc/test_doc.txt
  intel_extension_for_transformers/neural_chat/tests/server/test_askdoc_server.py
  intel_extension_for_transformers/neural_chat/utils/database/__init__.py
  intel_extension_for_transformers/neural_chat/utils/database/config.py
  intel_extension_for_transformers/neural_chat/utils/database/init_db_ai_photos.sql
  intel_extension_for_transformers/neural_chat/utils/database/init_db_askdoc.sql
  intel_extension_for_transformers/neural_chat/utils/database/mysqldb.py
Labels: ITREX-1.3-sprint1, NeuralChat

#399 Add itrex llm runtime graph int4 notebook
  intel_extension_for_transformers/llm/quantization/optimization.py
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/neural_chat/README.md
  intel_extension_for_transformers/neural_chat/chatbot.py
  intel_extension_for_transformers/neural_chat/config.py
  intel_extension_for_transformers/neural_chat/docs/full_notebooks.md
  intel_extension_for_transformers/neural_chat/docs/notebooks/amp_optimization_on_habana_gaudi.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/amp_optimization_on_spr.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/build_chatbot_on_spr.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/customize_chatbot_with_optimized_models.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/itrex_llm_graph_int4_optimization_on_spr.ipynb
  intel_extension_for_transformers/neural_chat/docs/notebooks/weight_only_optimization_on_nv_a100.ipynb
  intel_extension_for_transformers/neural_chat/examples/talkingbot_pc/build_talkingbot_on_pc.ipynb
  intel_extension_for_transformers/neural_chat/models/base_model.py
  intel_extension_for_transformers/neural_chat/models/model_utils.py
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
  intel_extension_for_transformers/neural_chat/requirements_pc.txt
  intel_extension_for_transformers/neural_chat/requirements_xpu.txt
  intel_extension_for_transformers/neural_chat/tests/api/test_inference.py
  intel_extension_for_transformers/neural_chat/tests/optimization/test_optimization.py
  intel_extension_for_transformers/neural_chat/tests/requirements.txt
  workflows/chatbot/inference/generate.py
Labels: documentation, enhancement, ITREX-1.3-sprint1

#563 fix qbits backend get wrong workspace malloc size when using Release compile Flag
  intel_extension_for_transformers/llm/operator/csrc/CMakeLists.txt
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/CMakeLists.txt
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/include/dispatcher_utils.hpp
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/include/jblas_customop.hpp
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/include/jblas_weightonly_dispatcher.hpp
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/src/dispatcher_utils.cpp
  intel_extension_for_transformers/llm/operator/csrc/dispatcher/src/jblas_weightonly_dispatcher.cpp
  intel_extension_for_transformers/llm/operator/csrc/qbits.cpp
  intel_extension_for_transformers/llm/operator/csrc/qbits_ut/weightonly_test.py
  intel_extension_for_transformers/llm/operator/csrc/run_build.sh
  setup.py
Labels: bug

#548 [LLM Runtime] Enable interactive mode of python api
  intel_extension_for_transformers/llm/runtime/graph/README.md
  intel_extension_for_transformers/llm/runtime/graph/__init__.py
  intel_extension_for_transformers/llm/runtime/graph/application/main_pybind.cpp
Labels: ITREX.cpp

#571 support top 10 embedding models on the huggingface leaderboard
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/README.md
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/indexing/indexing.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/retrieval/retrieval_agent.py
Labels: NeuralChat

#478 [NeuralChat] Integrate photoai backend into restful API
  .github/workflows/script/unitTest/run_unit_test_neuralchat.sh
  intel_extension_for_transformers/neural_chat/examples/photo_ai/README.md
  intel_extension_for_transformers/neural_chat/examples/photo_ai/backend/README.md
  intel_extension_for_transformers/neural_chat/examples/photo_ai/backend/photoai.py
  intel_extension_for_transformers/neural_chat/examples/photo_ai/backend/photoai.yaml
  intel_extension_for_transformers/neural_chat/examples/photo_ai/backend/run.sh
  intel_extension_for_transformers/neural_chat/examples/photo_ai/frontend
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/ner.py
  intel_extension_for_transformers/neural_chat/pipeline/plugins/ner/ner_int.py
  intel_extension_for_transformers/neural_chat/requirements.txt
  intel_extension_for_transformers/neural_chat/requirements_cpu.txt
  intel_extension_for_transformers/neural_chat/requirements_hpu.txt
  intel_extension_for_transformers/neural_chat/server/README.md
  intel_extension_for_transformers/neural_chat/server/config/neuralchat.yaml
  intel_extension_for_transformers/neural_chat/server/restful/api.py
  intel_extension_for_transformers/neural_chat/server/restful/photoai_api.py
  intel_extension_for_transformers/neural_chat/server/restful/photoai_services.py
  intel_extension_for_transformers/neural_chat/server/restful/photoai_utils.py
  requirements.txt
Labels: ITREX-1.3-sprint1, NeuralChat

#580 [LLM Runtime] Streaming-LLM based on shift RoPE
  intel_extension_for_transformers/llm/runtime/graph/application/main_pybind.cpp
  intel_extension_for_transformers/llm/runtime/graph/application/main_run.cpp
  intel_extension_for_transformers/llm/runtime/graph/application/pybind_gptj.cpp
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.c
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.h
  intel_extension_for_transformers/llm/runtime/graph/models/baichuan/baichuan.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/baichuan/baichuan.h
  intel_extension_for_transformers/llm/runtime/graph/models/baichuan/baichuan_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/bloom/bloom.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/bloom/bloom.h
  intel_extension_for_transformers/llm/runtime/graph/models/bloom/bloom_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm.h
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2.h
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm2_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/chatglm/chatglm_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.h
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptj/gptj.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptj/gptj.h
  intel_extension_for_transformers/llm/runtime/graph/models/gptj/gptj_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox.h
  intel_extension_for_transformers/llm/runtime/graph/models/gptneox/gptneox_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/llama/llama.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/llama/llama.h
  intel_extension_for_transformers/llm/runtime/graph/models/llama/llama_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/arg_parse.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_config.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_types.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.h
  intel_extension_for_transformers/llm/runtime/graph/models/models.h
  intel_extension_for_transformers/llm/runtime/graph/models/mpt/mpt.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/mpt/mpt.h
  intel_extension_for_transformers/llm/runtime/graph/models/mpt/mpt_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/opt/opt.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/opt/opt.h
  intel_extension_for_transformers/llm/runtime/graph/models/opt/opt_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/starcoder/starcoder.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/starcoder/starcoder.h
  intel_extension_for_transformers/llm/runtime/graph/models/starcoder/starcoder_utils.cpp
Labels: ITREX.cpp, ready for merge

#600 [UT] fix tf ut
  tests/test_tf_distillation.py
Labels: bug
