Repository intel/intel-extension-for-transformers, pull requests merged in 2023-08, with the labels that each got.

#123 amend starcoder input model path
  intel_extension_for_transformers/backends/neural_engine/graph/README.md
  intel_extension_for_transformers/backends/neural_engine/graph/scripts/convert_starcoder.py
Labels: ITREX.cpp

#137 [CPP Graph] unify quant and main in application
  intel_extension_for_transformers/backends/neural_engine/graph/README.md
  intel_extension_for_transformers/backends/neural_engine/graph/application/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatDOLLY/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatDOLLY/quant_dolly.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatFALCON/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatFALCON/main_falcon.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatFALCON/quant_falcon.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatGPTJ/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatGPTJ/main_gptj.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatGPTNEOX/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatGPTNEOX/main_gptneox.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatGPTNEOX/quant_gptneox.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatLLAMA/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatLLAMA/README.md
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatLLAMA/main_llama.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatLLAMA/quant_llama.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatMPT/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatMPT/main_mpt.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatMPT/quant_mpt.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatSTARCODER/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatSTARCODER/main_starcoder.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/ChatSTARCODER/quant_starcoder.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/chat/CMakeLists.txt
  intel_extension_for_transformers/backends/neural_engine/graph/application/chat/main_chat.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/common.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/common.h
  intel_extension_for_transformers/backends/neural_engine/graph/application/pybind_gptj.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/application/quant_model.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/falcon/falcon.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/falcon/falcon.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/falcon/falcon_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptj/gptj.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptj/gptj.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptj/gptj_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptneox/gptneox.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptneox/gptneox.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/gptneox/gptneox_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/llama/llama.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/llama/llama.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/llama/llama_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/arg_parse.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/model_config.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/model_types.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/model_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/model_utils.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/model_utils/quant_config.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/mpt/mpt.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/mpt/mpt.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/mpt/mpt_utils.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/starcoder/starcoder.cpp
  intel_extension_for_transformers/backends/neural_engine/graph/models/starcoder/starcoder.h
  intel_extension_for_transformers/backends/neural_engine/graph/models/starcoder/starcoder_utils.cpp
Labels: ITREX.cpp, refactor

#175 [CPP Graph] Falcon 40B
  intel_extension_for_transformers/llm/runtime/graph/core/ne_layers.c
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon.h
  intel_extension_for_transformers/llm/runtime/graph/models/falcon/falcon_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_files.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_types.h
  intel_extension_for_transformers/llm/runtime/graph/models/model_utils/model_utils.cpp
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_dolly.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_falcon.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_gptj.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_gptneox.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_llama.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_mpt.py
  intel_extension_for_transformers/llm/runtime/graph/scripts/convert_starcoder.py
Labels: WIP, ITREX.cpp
